body {
    color: white;
    background-image: url("images/soccerball.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-evenly;
}
h1{
    color: black;
}
img {
    size: 50%;
    margin-left: 30%
}
span{
    margin-right: 5px;
}
.Score{
    display: flex;
    justify-content: space-between;
    color: black;
    size: 50px;
    font-size: 30px;
}
.reset{
    display: flex;
    justify-content: space-evenly;
}
#wordBlanks{
   margin-top: 50px;
   margin-bottom: 20px;
   margin-left: 30%;
   font-size: 30px;
}
#chances{
    font-size: 30px;
    margin-left: 30%;
    margin-bottom: 40px;
}
.clickMe{
    width: 39px;
    height: 60px;
    font-size: 30px;
}
#buttons{
    margin-left: 10%;
}